

@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Name:
        </dt>

        <dd>
            Ibrahim Ahmed Saber Ibrahim
        </dd>

        <dt>
            Age:
        </dt>

        <dd>
            22
        </dd>

        <dt>
            Collage:
        </dt>

        <dd>
            Information and Computer Sciense in Hellwan University
        </dd>

        <dt>
            phone:
        </dt>

        <dd>
            01028286501
        </dd>

        <dt>
            status:
        </dt>

        <dd>
            graduate
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Home", "Index")
</p>
